@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap');

html, body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 100;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  position: relative;
  background-color: #000;
}

p.goal {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 20px;
  color: #aaa;
  font-size: 16px;
}

p.score {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 20px;
  color: #aaa;
  font-size: 16px;
}

.mute {
  position: absolute;
  margin: 0;
  top: 70px;
  right: 20px;
  width: 25px;
  height: 25px;
  background: url(speakerMuted.png) no-repeat center center;
  background-size: cover;
  cursor: pointer;
}

.message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #aaa;
  font-size: 150px;
  text-align: center;
}

.rules {
  width: 50vw;
  margin: 100px auto;
}

h2 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.rules > p {
  color: #fff;
  text-align: center;
}

label {
  display: block;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
}

button:hover {
  /* background-color: #333; */
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(253,193,236,1) 0%, rgba(161,99,245,1) 100%);
  color: #fff;
}

button:active {
  background-color: #fff;
}

audio {
  display: block;
  position: fixed;
  top: 0;
}

.hidden {
  display: none;
}
